{% extends "layout.html" %}

{% block pageTitle %}
  Check the MOT history of a vehicle – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l">Contact DVSA</span>
          <h1 class="govuk-heading-l">MOT, vehicle testing and approval enquiries</h1>

          <p>Find out more <a href="#">about MOTs</a>.</p>

          <p style="border-left: 1px solid #b1b4b6;padding-left:15px">MOT, vehicle testing and approval
            <br><a href="#">enquiries@dvsa.gov.uk</a>
            <br>Telephone: 0300 123 9000
            <br>Monday to Friday, 7:30am to 6pm
            <br><a href="#">Find out about call charges</a>
          </p>

          <div class="govuk-inset-text">
            You can <a href="#">give feedback</a> about the service that you were given after you've contacted the DVSA.
          </div>




    </div>
  </div>

{% endblock %}
